# Python
.venv/
__pycache__/
*.pyc

# VS Code
.vscode/

# macOS
.DS_Store

# Environment Variables
.env

# Python Packaging
*.egg-info/

# Logs
*.log

# Kafka
kafka_2.13-4.3.1/  

# Virtual Environment
venv/
.venv/